# Created by .ignore support plugin (hsz.mobi)
### VisualStudioCode template
idea/
vscode/
venv/


# Local History for Visual Studio Code
.history/

venv/Include/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/pip/__pycache__/
venv/Lib/site-packages/pip/_internal/__pycache__/
venv/Lib/site-packages/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip/_internal/distributions/__pycache__/
venv/Lib/site-packages/pip/_internal/index/__pycache__/
venv/Lib/site-packages/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip/_internal/network/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/build/__pycache__/
venv/Lib/site-packages/pip/_internal/operations/install/__pycache__/
venv/Lib/site-packages/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/legacy/__pycache__/
venv/Lib/site-packages/pip/_internal/resolution/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip/_vendor/chardet/cli/__pycache__/
venv/Lib/site-packages/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip/_vendor/distlib/_backport/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip/_vendor/resolvelib/__pycache__/
venv/Lib/site-packages/pip/_vendor/toml/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pkg_resources/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/__pycache__/
venv/Lib/site-packages/pkg_resources/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pkg_resources/extern/__pycache__/
venv/Lib/site-packages/setuptools/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/__pycache__/
venv/Lib/site-packages/setuptools/_vendor/packaging/__pycache__/
venv/Lib/site-packages/setuptools/command/__pycache__/
venv/Lib/site-packages/setuptools/extern/__pycache__/
.idea/sonarlint/issuestore/0/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/2/
.idea/sonarlint/issuestore/3/0/
.idea/sonarlint/issuestore/3/1/
.idea/sonarlint/issuestore/3/2/
.idea/sonarlint/issuestore/3/3/
.idea/sonarlint/issuestore/3/4/342b0d3f937f44c2b5ff8996dd72ff49cae820d5
.idea/sonarlint/issuestore/3/4/345726f50eed77104b3357ada96391844cfa7b48
.idea/sonarlint/issuestore/3/5/
.idea/sonarlint/issuestore/3/6/
.idea/sonarlint/issuestore/3/7/
.idea/sonarlint/issuestore/3/8/
.idea/sonarlint/issuestore/3/9/
.idea/sonarlint/issuestore/3/a/
.idea/sonarlint/issuestore/3/b/
.idea/sonarlint/issuestore/3/c/
.idea/sonarlint/issuestore/3/e/
.idea/sonarlint/issuestore/3/f/
.idea/sonarlint/issuestore/4/
.idea/sonarlint/issuestore/5/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/7/
.idea/sonarlint/issuestore/8/0/
.idea/sonarlint/issuestore/8/2/
.idea/sonarlint/issuestore/8/3/
.idea/sonarlint/issuestore/8/4/
.idea/sonarlint/issuestore/8/5/
.idea/sonarlint/issuestore/8/6/
.idea/sonarlint/issuestore/8/7/
.idea/sonarlint/issuestore/8/8/
.idea/sonarlint/issuestore/8/9/89d79cad3c9f9ac1d04f839f4f9b9bc6bf9950f3
.idea/sonarlint/issuestore/8/a/
.idea/sonarlint/issuestore/8/b/
.idea/sonarlint/issuestore/8/c/
.idea/sonarlint/issuestore/8/e/
.idea/sonarlint/issuestore/8/f/
.idea/sonarlint/issuestore/9/0/
.idea/sonarlint/issuestore/9/1/
.idea/sonarlint/issuestore/9/2/
.idea/sonarlint/issuestore/9/3/
.idea/sonarlint/issuestore/9/4/
.idea/sonarlint/issuestore/9/5/
.idea/sonarlint/issuestore/9/6/
.idea/sonarlint/issuestore/9/7/
.idea/sonarlint/issuestore/9/8/
.idea/sonarlint/issuestore/9/9/
.idea/sonarlint/issuestore/9/a/
.idea/sonarlint/issuestore/9/b/
.idea/sonarlint/issuestore/9/c/
.idea/sonarlint/issuestore/9/d/9d7583706be52255e472dba1aa3a91449406141d
.idea/sonarlint/issuestore/9/e/
.idea/sonarlint/issuestore/9/f/
.idea/sonarlint/issuestore/a/
.idea/sonarlint/issuestore/b/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
.idea/sonarlint/issuestore/e/
.idea/sonarlint/issuestore/f/
